*{ font-family: serif; }

html{ scroll-behavior: smooth; }

body { background-color: white; }

.subtitle{
    font-size: x-large;
    text-decoration: underline;
}

p{
    font-size: large;
    text-justify: distribute-all-lines;
}

#goTop{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 20%;
}

#goDown{
    transform: rotate(180deg);
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 20%;
}

article{
    padding: 5px;
    margin: 5px;
    background-color: #64d1f8;
    border-color: #9ccb3d;
    border-radius: 5px;
}