*{ font-family: serif; }

html{ scroll-behavior: smooth; }

body { background-color: #9ccb3d; }

#goTop{
    position: fixed;
    bottom: 0;
    right: 10%;
    max-width: 20%;
}

header {
    margin: auto;
    padding-top: 20px;
    max-width: 100%;
    max-height: 100vh;
    width: 200px;
    text-align: center;
}

img {
    max-width: 50%;
    max-height: 50vh;
    margin: auto;
    text-align: center;
}

iframe {
    display: flex;
    width: 600px;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    text-align: center;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    text-align: center;
}

p{
    font-size: large;
    text-justify: distribute-all-lines;
}

a > img{
    display: flex;
    width: 400px;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 960px) {

    body { background-color: rgb(174, 255, 137); }

    #goTop{
        position: fixed;
        bottom: 0;
        right: 0;
        max-width: 20%;
    }

    main{
        background-color: transparent;
        margin: 0;
        padding: 5px 0px;
        display: block;
        height: auto;
    }
}